<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>Digger</title>
    </head>

    <body>
        <section>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                        <li class="breadcrumb-item active">Administration</li>
                    </ol>
                </nav>
    
                <h1>Administration</h1>

                <br>
                <div class="list-group">                    
                    <a href="/admin/users" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Users</h5>
                        </div>
                        <p class="mb-1">Management of the users of the application.</p>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>