<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>User - Administration - Digger</title>
    </head>

    <body>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                    <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                    <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="${user.username}"></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-10">
                    <h1>
                        <svg class="bi bi-person-fill" width="48px" height="48px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                        </svg>
                        User
                    </h1>
                </div>
                <div class="col-2">
                    <div class="btn-group float-right" role="group">
                        <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
                            <a th:href="@{/admin/users/{id}/edit(id=${user.id})}" class="dropdown-item" role="button" aria-pressed="true"><img src="/images/pencil-square.svg"> Edit</a>
                            <a onclick="deleteElement()" href="#" class="dropdown-item" role="button" aria-pressed="true"><img src="/images/trash.svg"> Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <div id="name" th:utext="${user.firstName + ' ' + user.lastName}"></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <div id="username" th:utext="${user.username}"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="role">Role</label>
                        <div id="role" th:utext="${user.mainRole}"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="enabled">Enabled</label>
                        <div id="enabled"><img th:attr="src=@{/images/{enabled}.svg(enabled=${user.enabled})}"></div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>