<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>User - Administration - Digger</title>
    </head>

    <body>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg" alt="Home"></a></li>
                    <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                    <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="${user.username}"></li>
                </ol>
            </nav>

            <h1>User</h1>

            <form method="POST" th:action="@{/admin/users}" id="userForm">
                <div th:if="${error}" class="alert alert-warning" role="alert" th:text="${error}"></div>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <p th:text="${user.username}"></p>
                            <input type="hidden" id="username" name="username" th:value="${user.username}">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" th:value="${user.firstName}" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" th:value="${user.lastName}" class="form-control" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="roleAdmin">Role</label><br>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mainRole" id="roleAdmin" value="ROLE_ADMIN" th:field="${user.mainRole}">
                                <span class="form-check-label">Admin</span>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mainRole" id="roleEditor" value="ROLE_EDITOR" th:field="${user.mainRole}">
                                <span class="form-check-label">Editor</span>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mainRole" id="roleReader" value="ROLE_READER" th:field="${user.mainRole}">
                                <span class="form-check-label">Reader</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="password">Status</label>
                            <div class="form-group form-check">
                                <input class="form-check-input" type="checkbox" name="enabled" id="enabled" th:checked="${user.enabled}"/>
                                <span class="form-check-label">Enabled</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Just fill in the fields below if you want to change the user password.</h6>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="password"> Password</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="confirmPassword"> Confirm Password</label>
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                                    <small id="confirmPasswordError" class="error"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="id" id="id" th:value="${user.id}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <br>
                <button type="submit" class="btn btn-primary" id="saveUser"><img src="/images/save.svg"> Save</button>
                <button type="button" class="btn btn-secondary" id="cancel"><img src="/images/cancel.svg"> Cancel</button>
            </form>
        </section>
    </body>
</html>