<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>Users - Administration - Digger</title>
    </head>

    <body>
        <section>
            <div><a th:href="@{${userGuideUrl}}" class="float-right help" target="_blank"><img src="/images/question-circle.svg"></a></div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                    <li class="breadcrumb-item"><a href="/admin">Administration</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
            </nav>

            <h1>Users</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Enabled</th>
                    </tr>
                </thead>
                <tbody id="users"></tbody>
            </table>
        </section>
    </body>
</html>