.classpath
.project
.idea/
.mvn/
.settings/
.vscode/
data/
logs/
target/
os-service/digger-windows-service.wrapper.log
os-service/digger-windows-service.out.log
os-service/digger-windows-service.err.log
os-service/digger-0.2.0.jar
*.iml
*.zip
*.pdf