.classpath
.project
.idea/
.mvn/
.settings/
.vscode/
data/
data2/
logs/
target/
java/os-service/digger-windows-service.wrapper.log
java/os-service/digger-windows-service.out.log
java/os-service/digger-windows-service.err.log
java/os-service/digger-0.2.0.jar
*.iml
*.zip
*.pdf
*.exe
*.jar
*.log
digger-backup.sql