{
  "connection": {
    "source": "postgres://database_usr:secret@localhost:5432/database_name?sslmode=require",
    "target": "postgres://database_usr:secret@localhost:5432/database_name_backup?sslmode=require"
  },
  "tables": [
    "table_1",
    "table_2",
    "table_3"
  ]
}