body {
    padding-top: 75px;
    font-family: 'Barlow', sans-serif;
}

label {
    font-weight: bold;
}

.help {
    font-size: 28px;
    margin-left: 10px;
    color: rgb(148, 148, 148);
}

a.help:hover {
    color: rgb(255, 255, 255);
}

.connected {
    font-size: 22px;
    color: #199700
}

.disconnected {
    font-size: 22px;
    color: #ff0000
}

.documentation {
    border: 1px solid rgb(204, 204, 204);
    padding: 5px 5px 5px 10px;
    border-radius: 3px;
}

.error {
    color: #ff0000;
}

.info {
    color: blue;
}