body {
    padding-top: 75px;
    font-family: 'Barlow', sans-serif;
}

label {
    font-weight: bold;
}


.connected {
    font-size: 22px;
    color: #199700
}

.disconnected {
    font-size: 22px;
    color: #ff0000
}

.error {
    color: #ff0000;
}

.info {
    color: blue;
}