<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>User Profile - Digger</title>
    </head>

    <body>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                    <li class="breadcrumb-item"><a href="/users/profile" th:utext="${#httpServletRequest.remoteUser}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
            </nav>

            <h1>
                <svg class="bi bi-person-fill" width="48px" height="48px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                </svg>
                Change Password
            </h1>

            <br>
            <p>Inform your current password, the new password and confirm the new password.</p>

            <form id="userForm" method="POST" th:action="@{/users/password}">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="currentPassword">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                            <small class="error" th:text="${passwordMatchError}"></small>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" autocomplete="new-password" required>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" autocomplete="new-password" required>
                            <small id="confirmPasswordError" class="error"></small>
                        </div>
                    </div>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <button type="commit" class="btn btn-primary">Submit</button>
                <a class="btn btn-secondary" href="/users/profile" role="button">Cancel</a>
            </form>
        </section>
    </body>
</html>