<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Digger - Column</title>
    </head>

    <body>
        <section>
            <div class="row">
                <div class="col-10">
                    <h1>Column</h1>
                </div>
                <div class="col-2">
                    <a th:href="@{/datasources/{datasourceId}/tables/{tableId}/columns/{columnId}/edit(datasourceId=${datasource.id}, tableId=${table.id}, columnId=${column.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true">Edit</a>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div id="name" th:utext="${column.name}"></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="friendly-name">Friendly Name</label>
                        <div id="friendly-name" th:utext="${column.friendlyName}"></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="table-link">Table</label><br>
                        <a th:href="@{/datasources/{datasourceId}/tables/{tableId}(datasourceId=${datasource.id}, tableId=${table.id})}" th:utext="${table.name}" id="table-link"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="type">Type</label><br>
                        <span id="type" th:utext="${column.type}"></span> 
                        (<span id="name" th:utext="${column.size}"></span>)
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="defaultValue">Default Value</label>
                        <div id="defaultValue" th:utext="${column.defaultValue}"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="foreignTable">Foreign Table</label><br>
                        <a th:href="@{/datasources/{datasourceId}/tables/{tableId}(datasourceId=${datasource.id}, tableId=${column.foreignKey.table.id})}" 
                           th:utext="${column.foreignKey.table}" id="foreign-table-link" 
                           th:unless="${#lists.isEmpty(column.foreignKey)}"></a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="foreignColumn">Foreign Column</label><br>
                        <a th:href="@{/datasources/{datasourceId}/tables/{tableId}/columns/{columnId}(datasourceId=${datasource.id}, tableId=${column.foreignKey.table.id}, columnId=${column.foreignKey.id})}" 
                           th:utext="${column.foreignKey}" id="foreign-column-link" 
                           th:unless="${#lists.isEmpty(column.foreignKey)}"></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><b>Documentation</b></div>
                <div class="card-body">
                    <div id="documentation" class="card-text" th:utext="${column.documentation}"></div>
                </div>
            </div>

            <hr>

            <h2>Referenced By</h2>

            <input type="hidden" id="datasource" th:value="${datasource.id}">
            <input type="hidden" id="table" th:value="${table.id}">
            <input type="hidden" id="column" th:value="${column.id}">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Table</th>
                        <th scope="col">Name</th>
                        <th scope="col">Friendly Name</th>
                    </tr>
                </thead>
                <tbody id="column-references"></tbody>
            </table>
        </section>
    </body>
</html>