<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Digger - Column</title>
    </head>

    <body>
        <section>
            <h1><i class="fas fa-columns"></i> Column</h1>

            <form method="POST" th:action="@{/datasources/{datasourceId}/tables/{tableId}/columns(datasourceId=${datasource.id}, tableId=${table.id})}">
                <input type="hidden" name="id" th:value="${column.id}" th:unless="${#lists.isEmpty(column)}"/>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="database-table">Table</label><br>
                            <span th:utext="${table.friendlyName}"></span> (<span th:utext="${table.name}"></span>)
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="table-column-name">Name *</label>
                            <input type="hidden" id="name-aux" th:value="${column.name}"/>
                            <select class="form-control" id="table-column-name" name="name" required>
                                <option value="">Select...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="friendlyName">Friendly Name</label>
                            <input type="text" class="form-control" id="friendlyName" name="friendlyName" th:value="${column.friendlyName}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="type">Type</label>
                            <div id="type-label">-</div>
                            <input type="hidden" name="type" id="type">
                            <input type="hidden" name="size" id="size">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="nullable">Nullable</label>
                            <div id="nullable-label">-</div>
                            <input type="hidden" name="nullable" id="nullable">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="default">Default Value</label>
                            <div id="default-label">-</div>
                            <input type="hidden" name="defaultValue" id="default">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="foreign-table">Foreign Table</label>
                            <input type="hidden" id="foreign-table-aux" th:value="${column.foreignKey.table.id}" th:unless="${#lists.isEmpty(column.foreignKey)}"/>
                            <select class="form-control" id="foreign-table">
                                <option value="">Select...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="foreignKey">Foreign Column</label>
                            <input type="hidden" id="foreign-column-aux" th:value="${column.foreignKey.id}" th:unless="${#lists.isEmpty(column.foreignKey)}"/>
                            <select class="form-control" id="foreignKey" name="foreignKey">
                                <option value="">Select...</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="documentation">Documentation (Markdown)</label>
                    <textarea class="form-control" id="documentation" name="documentation" rows="15" th:utext="${column.documentation}"></textarea>
                </div>

                <input type="hidden" name="datasource" id="datasource" th:value="${datasource.id}">
                <input type="hidden" name="table" id="table" th:value="${table.id}">

                <button type="submit" class="btn btn-primary" id="saveTable"><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-secondary" id="cancel"><i class="far fa-window-close"></i> Cancel</button>
            </form>
        </section>
    </body>
</html>