<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Digger - Datasource</title>
    </head>

    <body>
        <section>
            <h1>Datasource</h1>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div id="name" th:utext="${datasource.name}"></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <div id="description" th:utext="${datasource.description}"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="driver">Driver Class</label>
                        <div id="driver" th:utext="${datasource.driver}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="url">URL</label>
                        <div id="url" th:utext="${datasource.url}"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <div id="username" th:utext="${datasource.username}"></div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-10">
                    <h2>Tables</h2>
                </div>
                <div class="col-2">
                    <a th:href="@{/datasources/{id}/tables/new(id=${datasource.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true">New</a>
                </div>
            </div>

            <input type="hidden" id="datasource" th:value="${datasource.id}">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Friendly Name</th>
                        <th scope="col">Type</th>
                    </tr>
                </thead>
                <tbody id="datasource-tables"></tbody>
            </table>
        </section>
    </body>
</html>