<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
       <title>Datasource - Digger</title>
    </head>

    <body>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="${datasource.name}"></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-10">
                    <h1><img src="/images/datasource.svg"> Datasource</h1>
                </div>
                <div class="col-2">
                    <div class="btn-group float-right" role="group" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                        <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
                            <a th:href="@{/datasources/{id}/edit(id=${datasource.id})}" class="dropdown-item" role="button" aria-pressed="true"><img src="/images/pencil-square.svg"> Edit</a>
                            <a onclick="deleteElement()" href="#" class="dropdown-item" role="button" aria-pressed="true"><img src="/images/trash.svg"> Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <div id="name" th:utext="${datasource.name}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="description">Description</label>
                        <div id="description" th:utext="${datasource.description}"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="description">Status</label>
                        <div class="connected" data-toggle="tooltip" data-placement="right" title="Connected!" th:if="${datasource.status}"> <img src="/images/plugged.svg" alt="Plugged!"></div>
                        <div class="disconnected" data-toggle="tooltip" data-placement="right" title="Disconnected" th:unless="${datasource.status}"> <img src="/images/unplugged.svg"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <label for="driver">Driver Class</label>
                        <div id="driver" th:utext="${datasource.driver}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="url">URL</label>
                        <div id="url" th:utext="${datasource.url}"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <div id="username" th:utext="${datasource.username}"></div>
                    </div>
                </div>
            </div>

            <div class="progress" style="height: 25px;">
                <div class="progress-bar bg-warning" role="progressbar" th:attr="style=@{width: {progress}%(progress=${progress})}, aria-valuenow=@{width: {progress}(progress=${progress})}" aria-valuemin="0" aria-valuemax="100" th:text="@{{progress}%(progress=${progress})}"></div>
            </div>

            <br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="tables-tab" data-toggle="tab" href="#tables" role="tab" aria-controls="tables" aria-selected="true">Tables</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="ignored-tab" data-toggle="tab" href="#ignored" role="tab" aria-controls="ignored" aria-selected="false">Ignored</a>
                </li>
            </ul>

            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="tables" role="tabpanel" aria-labelledby="tables-tab">
                    <br>
                    <div class="row">
                        <div class="col-10">
                            <h3><img src="/images/table.svg"> Tables</h3>
                        </div>
                        <div class="col-2">
                            <a th:href="@{/datasources/{id}/tables/new(id=${datasource.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true" th:if="${datasource.status}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')"><img src="/images/new.svg"> New</a>
                        </div>
                    </div>

                    <div class="list-group" id="list-tables"></div>
                </div>
                <div class="tab-pane fade" id="ignored" role="tabpanel" aria-labelledby="ignored-tab">
                    <br>
                    <div class="row">
                        <div class="col-10">
                            <h3><img src="/images/table.svg"> Ignored Tables</h3>
                        </div>
                        <div class="col-2">
                            <a th:href="@{/datasources/{id}/tables/ignored/new(id=${datasource.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')"><img src="/images/new.svg"> New</a>
                        </div>
                    </div>
        
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="datasource-ignored-tables"></tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>