<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>Datasource - Digger</title>
    </head>

    <body>
        <section>
            <div><a th:href="@{${userGuideUrl}}" class="float-right help" target="_blank"><i class="far fa-question-circle"></i></a></div>

            <h1><i class="fas fa-database"></i> Datasource</h1>

            <form method="POST" action="/datasources">
                <input type="hidden" name="id" th:value="${datasource.id}"/>

                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${datasource.name}" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" th:value="${datasource.description}">
                </div>
                <div class="form-group">
                    <label for="driver">Driver Class *</label>
                    <input type="text" class="form-control" id="driver" name="driver" th:value="${datasource.driver}" required>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="url">URL *</label>
                            <input type="text" class="form-control" id="url" name="url" th:value="${datasource.url}" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" th:value="${datasource.username}">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" name="password" th:value="${datasource.password}">
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" id="saveDatasource"><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-secondary" id="cancel"><i class="far fa-window-close"></i> Cancel</button>
            </form>
        </section>
    </body>
</html>