<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
    <head>
       <title>Digger</title>
    </head>

    <body>
        <section>
            <div class="row">
                <div class="col-10">
                    <h1>Datasources</h1>
                </div>
                <div class="col-2">
                    <a href="/datasources/new" class="btn btn-secondary float-right" role="button" aria-pressed="true">New</a>
                </div>
            </div>

            <div class="list-group" id="list-datasources"></div>
        </section>
    </body>
</html>