<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login - Digger</title>
</head>

<body>
    <section>
        <h1>
            <svg class="bi bi-lock-fill" width="40px" height="40px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
            </svg> Login
        </h1>

        <br>
        <div class="card w-25">
            <div class="card-body">
                <form method="POST" th:action="@{/login}">
                    <div class="form-group">
                        <label for="username"> Email</label>
                        <input type="email" name="username" id="username" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="password"> Password</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>

                    <p id="loginError" class="error" th:if="${param.error}">Invalid email and password</p>

                    <button type="submit" class="btn btn-primary" id="login">
                        <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                        </svg>
                        Login
                    </button>
                    <a class="btn btn-secondary" href="/" role="button">
                        <svg class="bi bi-x-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zm-4.146-3.146a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z" clip-rule="evenodd"/>
                        </svg>
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </section>
</body>
</html>