<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login - Digger</title>
</head>

<body>
    <section>
        <h1>
            <svg class="bi bi-lock-fill" width="40px" height="40px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
            </svg> Login
        </h1>

        <br>
        <div class="card" style="width: 26rem;">
            <div class="card-body">
                <form method="POST" th:action="@{/login}">
                    <div class="mb-3">
                        <label for="username"> Email</label>
                        <input type="email" name="username" id="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="password"> Password</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>

                    <p id="loginError" class="error" th:if="${param.error}">Invalid email or password</p>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                    <button type="submit" class="btn btn-primary" id="login">
                        <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                            <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
                        </svg>
                        Login
                    </button>
                    <a class="btn btn-secondary" href="/" role="button"><img src="/images/cancel.svg"> Cancel</a>
                </form>
            </div>
        </div>
    </section>
</body>
</html>