<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>User Profile - Digger</title>
    </head>

    <body>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="${#httpServletRequest.remoteUser}"></li>
                </ol>
            </nav>

            <h1>
                <svg class="bi bi-person-fill" width="48px" height="48px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                </svg>
                Profile
            </h1>

            <br>
            <div class="mb-3">
                <label for="username">Username</label>
                <div id="username" th:utext="${#httpServletRequest.remoteUser}"></div>
            </div>

            <p>
                <a class="btn btn-secondary" href="/users/password" role="button">
                    Change Password
                </a>
            </p>
        </section>
    </body>
</html>