<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Digger - Table</title>
    </head>

    <body>
        <section>
            <div class="row">
                <div class="col-10">
                    <h1>Table</h1>
                </div>
                <div class="col-2">
                    <a th:href="@{/datasources/{datasourceId}/tables/{tableId}/edit(datasourceId=${datasource.id}, tableId=${table.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true">Edit</a>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="datasource-link">Datasource</label><br>
                        <a th:href="@{/datasources/{id}(id=${datasource.id})}" th:utext="${datasource.name}" id="datasource-link"></a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div id="name" th:utext="${table.name}"></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <div id="type" th:utext="${table.type}"></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="friendly-name">Friendly Name</label>
                        <div id="friendly-name" th:utext="${table.friendlyName}"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><b>Documentation</b></div>
                <div class="card-body">
                    <div id="documentation" class="card-text" th:utext="${table.documentation}"></div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-10">
                    <h2>Columns</h2>
                </div>
                <div class="col-2">
                    <a th:href="@{/datasources/{id}/tables/{tableId}/columns/new(id=${datasource.id}, tableId=${table.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true">New</a>
                </div>
            </div>

            <input type="hidden" id="datasource" th:value="${datasource.id}">
            <input type="hidden" id="table" th:value="${table.id}">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Size</th>
                        <th scope="col">Nullable</th>
                        <th scope="col">Default</th>
                    </tr>
                </thead>
                <tbody id="table-columns"></tbody>
            </table>
        </section>
    </body>
</html>