<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Digger - Table</title>
    </head>

    <body>
        <section>
            <div><a href="http://www.hildeberto.com/digger/#new_table" class="float-right help" target="_blank"><i class="far fa-question-circle"></i></a></div>

            <h1><i class="fas fa-table"></i> Table</h1>
            <form method="POST" th:action="@{/datasources/{datasourceId}/tables(datasourceId=${datasource.id})}">
                <input type="hidden" id="id" name="id" th:value="${table.id}"/>

                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label for="database-table-name">Name *</label>
                            <input type="hidden" id="name-aux" th:value="${table.name}"/>
                            <select class="form-control" id="database-table-name" name="name" required>
                                <option value="">Select...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="type">Type</label>
                            <div id="type-label">-</div>
                            <input type="hidden" name="type" id="type">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label for="friendlyName">Friendly Name</label>
                            <input type="text" class="form-control" id="friendlyName" name="friendlyName" th:value="${table.friendlyName}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="documentation">Documentation (Markdown)</label>
                    <textarea class="form-control" id="documentation" name="documentation" rows="15" th:utext="${table.documentation}"></textarea>
                </div>

                <input type="hidden" name="datasource" id="datasource" th:value="${datasource.id}">

                <button type="submit" class="btn btn-primary" id="saveTable"><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-secondary" id="cancel"><i class="far fa-window-close"></i> Cancel</button>
            </form>
        </section>
    </body>
</html>