<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>Table - Digger</title>
    </head>

    <body>
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><img src="/images/house-fill.svg"></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/datasources/{id}(id=${datasource.id})}" th:utext="${datasource.name}"></a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="${table.friendlyName}"></li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-10">
                    <h1><img src="/images/table.svg"> Table</h1>
                </div>
                <div class="col-2">
                    <div class="btn-group float-right" role="group" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')">
                        <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
                            <a th:href="@{/datasources/{datasourceId}/tables/{tableId}/edit(datasourceId=${datasource.id}, tableId=${table.id})}" class="dropdown-item" role="button" aria-pressed="true"><img src="/images/pencil-square.svg"> Edit</a>
                            <a onclick="deleteElement()" href="#" class="dropdown-item" role="button" aria-pressed="true"><img src="/images/trash.svg"> Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="datasource-link">Datasource</label><br>
                        <div id="datasource-link"><a th:href="@{/datasources/{id}(id=${datasource.id})}" th:utext="${datasource.name}"></a></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="friendly-name">Friendly Name</label>
                        <div id="friendly-name" th:utext="${table.friendlyName}"></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="name">Physical Name</label>
                        <div id="name" th:utext="${table.name}"></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <div id="type" th:utext="${table.type}"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header"><b>Documentation</b></div>
                <div class="card-body">
                    <div id="documentation" class="card-text" th:utext="${table.documentation}"></div>
                </div>
            </div>

            <br>
            <div class="progress" style="height: 25px;">
                <div class="progress-bar bg-warning" role="progressbar" th:attr="style=@{width: {progress}%;(progress=${progress})}, aria-valuenow=@{{progress}(progress=${progress})}" aria-valuemin="0" aria-valuemax="100" th:text="@{{progress}%(progress=${progress})}"></div>
            </div>

            <hr>

            <div class="row">
                <div class="col-10">
                    <h3><i class="fas fa-columns"></i> Columns</h3>
                </div>
                <div class="col-2">
                    <a th:href="@{/datasources/{id}/tables/{tableId}/columns/new(id=${datasource.id}, tableId=${table.id})}" class="btn btn-secondary float-right" role="button" aria-pressed="true" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EDITOR')"><i class="fas fa-plus-square"></i> New</a>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Friendly</th>
                        <th scope="col">Type</th>
                        <th scope="col">Nullable</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="table-columns"></tbody>
            </table>
        </section>
    </body>
</html>