<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
       <title>Datasource - Digger</title>
    </head>

    <body>
        <section>
            <h1><img src="/images/datasource.svg"> Datasource</h1>

            <form method="POST" action="/datasources">
                <input type="hidden" name="id" th:value="${datasource.id}"/>

                <div class="mb-3">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${datasource.name}" required>
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" th:value="${datasource.description}">
                </div>
                <div class="mb-3">
                    <label for="driver">Driver Class *</label>
                    <select id="driver" name="driver" class="form-select" th:field="${datasource.driver}" required>
                        <option value="">Select...</option>
                        <option th:each="cl : ${supportedDriverClasses}" th:value="${cl.driverClassName}" th:text="${cl.driverClassName}"></option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="url">URL *</label>
                            <input type="text" class="form-control" id="url" name="url" th:value="${datasource.url}" required>
                            <small id="urlTemplate" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-3">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" th:value="${datasource.username}">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" th:value="${datasource.password}">
                        </div>
                    </div>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <button type="submit" class="btn btn-primary" id="saveDatasource"><img src="/images/save.svg"> Save</button>
                <button type="button" class="btn btn-secondary" id="cancel"><img src="/images/cancel.svg"> Cancel</button>
            </form>
        </section>
    </body>
</html>